<a href="https://colab.research.google.com/github/asengardeon/projetos_colab/blob/main/comparador_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd

In [66]:
arquivo_1 = 'novo.csv'
arquivo_2 = 'novo-2.csv'
colunas_comparacao = ['Empresa', 'Filial', 'Pedido', 'Total']

In [68]:
file1_df = pd.read_csv(arquivo_1, sep=";")
file2_df = pd.read_csv(arquivo_2, sep=";")

In [70]:
saida = pd.concat([file1_df[colunas_comparacao], file2_df[colunas_comparacao]]).drop_duplicates(keep=False)

In [71]:
saida

    Empresa  Filial  Pedido    Total
0         3     619  668398    355,5
13        3     619  668429   5574,8
22        3     619  668438  5544,26
0         3     619  668398   396,88
13        3     619  668429  5574,81
22        3     619  668438  5544,27

In [72]:
saida.to_csv('saida.csv')